@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

#header {
	background-image: url('/public/images/bg-header-desktop.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 768px) {
	#header {
		background-image: url('/public/images/bg-header-mobile.svg');
	}
}
